## Buscando Archivo gran cliente

In [2]:
import pandas as pd

### Cargando el archivo

In [3]:
ruta = r'C:\Users\carlos.alvarado\Downloads\BD GC 26AGO23.xlsx'
df_gc = pd.read_excel(ruta, sheet_name="BD GC 26AGO23")
df_gc

,PERIODO,CUENTA,SUSCRIBER_ID,Pagador CORRECTO (Suscriber ID),PRODUCTO,ESTADO_CONTRATO,F_ALTA,ESTADO_SUMINISTRO,TIPO_MEDICION,TIPO_CONEXION,...,NOMBRE_CONTACTO,TELF_CONTACTO,CICLO MARZO,CICLO_JULIO.1,NUEVO_CICLO_FACT,NUEVO_CICLO_CSMO,VALIDACION_CAMBIO_CICLO_FACTURACION,ACCION,NUEVA BD GC FACT1Ago,IMPACTO
0,202308,1000125,10019652,10019652,1000125,CONEXIÓN,36465,SITUACION CORRECTA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,NaN,NaN,3408,3408,6000,2907,PASAN A CICLO 6000,MANTIENEN,True,CICLO REG A 6MIL
1,202308,1000126,10019655,10019655,1000126,CONEXIÓN,36465,CON DEUDA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,CARMEN ACOSTA,314 5974873,5000,5000,6000,3408,PASAN A CICLO 6000,MANTIENEN,True,5000 A 6000
2,202308,1000127,10019655,10019655,1000127,CONEXIÓN,36465,CON DEUDA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,CARMEN ACOSTA,314 5974873,5000,5000,6000,3408,PASAN A CICLO 6000,MANTIENEN,True,5000 A 6000
3,202308,1000128,10019663,10019663,1000128,CONEXIÓN,36465,CON DEUDA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL NORMAL,...,NaN,NaN,5000,5000,6000,3413,PASAN A CICLO 6000,MANTIENEN,True,5000 A 6000
4,202308,1000129,10019698,10019698,1000129,CONEXIÓN,36448,SITUACION CORRECTA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,NaN,NaN,3410,3410,6000,3410,PASAN A CICLO 6000,MANTIENEN,True,CICLO REG A 6MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16274,202308,8087995,36533362,36533362,9096346,CONEXIÓN,45020,SITUACION CORRECTA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL NORMAL,...,KAREN LICETH LOPEZ ARIZA,314 5811835,1108,1108,5000,1108,PASAN A CICLO 5000,INGRESAN,True,CICLO REG A 5MIL AGO
16275,202308,8088055,0,36620200,9096432,CONEXIÓN,45020,SITUACION CORRECTA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL NORMAL,...,NaN,NaN,1212,1212,6000,1109,PASAN A CICLO 6000,INGRESAN,True,CICLO REG A 6MIL
16276,202308,8096768,36563363,36563363,9101975,ORDEN SUSPENSIÓN TOTAL,45042,MORA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL NORMAL,...,INCLUIR,INCLUIR,1110,1110,5000,1110,PASAN A CICLO 5000,INGRESAN,True,CICLO REG A 5MIL AGO
16277,202308,8100479,36480919,36480919,9105487,CONEXIÓN,45057,MORA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL MT AT,...,KARINA PALACIOS,304 5641047,1115,1115,6000,1108,PASAN A CICLO 6000,INGRESAN,True,CICLO REG A 6MIL
16278,202308,8100481,36480919,36480919,9105489,CONEXIÓN,45057,MORA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL MT AT,...,KARINA PALACIOS,304 5641047,1115,1115,6000,1108,PASAN A CICLO 6000,INGRESAN,True,CICLO REG A 6MIL

In [4]:
df_gc.shape

(16279, 205)

In [5]:
df_gc.head()

,PERIODO,CUENTA,SUSCRIBER_ID,Pagador CORRECTO (Suscriber ID),PRODUCTO,ESTADO_CONTRATO,F_ALTA,ESTADO_SUMINISTRO,TIPO_MEDICION,TIPO_CONEXION,...,NOMBRE_CONTACTO,TELF_CONTACTO,CICLO MARZO,CICLO_JULIO.1,NUEVO_CICLO_FACT,NUEVO_CICLO_CSMO,VALIDACION_CAMBIO_CICLO_FACTURACION,ACCION,NUEVA BD GC FACT1Ago,IMPACTO
0,202308,1000125,10019652,10019652,1000125,CONEXIÓN,36465,SITUACION CORRECTA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,NaN,NaN,3408,3408,6000,2907,PASAN A CICLO 6000,MANTIENEN,True,CICLO REG A 6MIL
1,202308,1000126,10019655,10019655,1000126,CONEXIÓN,36465,CON DEUDA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,CARMEN ACOSTA,314 5974873,5000,5000,6000,3408,PASAN A CICLO 6000,MANTIENEN,True,5000 A 6000
2,202308,1000127,10019655,10019655,1000127,CONEXIÓN,36465,CON DEUDA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,CARMEN ACOSTA,314 5974873,5000,5000,6000,3408,PASAN A CICLO 6000,MANTIENEN,True,5000 A 6000
3,202308,1000128,10019663,10019663,1000128,CONEXIÓN,36465,CON DEUDA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,AEREA TRADICIONAL NORMAL,...,NaN,NaN,5000,5000,6000,3413,PASAN A CICLO 6000,MANTIENEN,True,5000 A 6000
4,202308,1000129,10019698,10019698,1000129,CONEXIÓN,36448,SITUACION CORRECTA,MEDICIÓN CONVENCIONAL - ACTIVA/REACTIVA,SUBTERRANEA TRADICIONAL MT AT,...,NaN,NaN,3410,3410,6000,3410,PASAN A CICLO 6000,MANTIENEN,True,CICLO REG A 6MIL

In [6]:
df_gc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16279 entries, 0 to 16278
Columns: 205 entries, PERIODO to IMPACTO
dtypes: bool(11), float64(71), int64(51), object(72)
memory usage: 24.3+ MB

In [7]:
df_gc.describe()

,PERIODO,CUENTA,SUSCRIBER_ID,Pagador CORRECTO (Suscriber ID),PRODUCTO,F_ALTA,MEDIDO,ID_TRANSFORMADOR,F_INSTALACION,COMUNICA,...,VALOR_FACTURADO_GESTIONADO_TOTAL,VALOR_FACTURADO_GESTIONADO_HEREDADA_SIN_IRR,VALOR_FACTURADO_GESTIONADO_PERIODO_SIN_IRR,VALOR_FACTURADO_GESTIONADO_RETENIDA_SIN_IRR,VALOR_FACTURADO_GESTIONADO_DESPLAZADA_SIN_IRR,VALOR_FACTURADO_GESTIONADO_SIN_IRR,FACTOR MULTIPLICADOR,PROMEDIO CONSUMO,PAGADOR_CORRECTO,CICLO_JULIO.1
count,16279.0,1.627900e+04,1.627900e+04,1.627900e+04,1.627900e+04,16279.000000,16279.000000,1.611600e+04,16104.000000,16279.000000,...,1.627900e+04,1.627900e+04,1.627900e+04,1.627900e+04,1.627900e+04,1.627900e+04,16104.000000,1.492300e+04,1.112300e+04,16279.000000
mean,202308.0,5.021002e+06,2.830330e+07,2.837147e+07,4.356931e+06,38298.901100,0.989250,6.554316e+07,42777.115437,0.031267,...,7.692468e+06,3.788045e+06,3.848507e+06,4.296223e+04,3.763670e+06,7.679514e+06,10242.625570,3.735791e+03,2.785530e+07,4674.115056
std,0.0,2.656815e+06,8.189257e+06,8.094007e+06,2.629743e+06,4593.753655,0.103127,3.188345e+05,2049.825500,0.174045,...,3.548389e+07,1.140987e+07,3.407409e+07,1.373384e+06,1.081000e+07,3.548319e+07,100088.965049,2.777718e+05,8.137582e+06,843.951246
min,202308.0,1.000125e+06,0.000000e+00,1.000002e+07,1.016200e+04,367.000000,0.000000,6.500159e+07,29221.000000,0.000000,...,-2.123957e+08,-2.444582e+07,-2.123957e+08,0.000000e+00,-3.703537e+07,-2.123957e+08,0.000000,-3.334531e+07,1.000002e+07,1101.000000
25%,202308.0,2.184678e+06,2.037281e+07,2.037281e+07,2.320898e+06,36465.000000,1.000000,6.520937e+07,41598.000000,0.000000,...,3.956174e+05,0.000000e+00,-1.150000e+00,0.000000e+00,0.000000e+00,3.924105e+05,1.000000,6.511000e+02,2.037289e+07,5000.000000
50%,202308.0,6.505889e+06,3.405255e+07,3.405255e+07,3.783493e+06,38939.000000,1.000000,6.572899e+07,43271.000000,0.000000,...,1.978510e+06,9.624954e+05,0.000000e+00,0.000000e+00,9.769293e+05,1.974430e+06,1.000000,2.208000e+03,2.567508e+07,5000.000000
75%,202308.0,7.620937e+06,3.612191e+07,3.612191e+07,6.799051e+06,42027.000000,1.000000,6.576520e+07,44457.000000,0.000000,...,5.787671e+06,3.854859e+06,3.010000e+00,0.000000e+00,3.785913e+06,5.761169e+06,80.000000,5.438310e+03,3.606984e+07,5000.000000
max,202308.0,8.100481e+06,3.686318e+07,3.687597e+07,9.105489e+06,45078.000000,1.000000,6.590748e+07,45138.000000,1.000000,...,1.697139e+09,5.212497e+08,1.697139e+09,1.572103e+08,4.214826e+08,1.697139e+09,1000000.000000,6.004104e+06,2.567501e+08,5000.000000

In [8]:
f_referencia = pd.to_datetime('01/01/2023')

df_gc['F_ALTA_V1'] = f_referencia + pd.to_timedelta(df_gc['F_ALTA'])